// Official EC colors
@import './fonts.scss';
@import './markdown.scss';

// Definiere Gradient
.ec-gradient,
.nuxt-progress:not(.nuxt-progress-failed) {
  background: var(--v-gradient-left-base) !important;
  background-image: linear-gradient(
    90deg,
    var(--v-gradient-left-base) 0%,
    var(--v-gradient-right-base) 100%
  ) !important;
}

.v-pagination {
  &__item,
  &__navigation {
    border-radius: 0 !important;
    box-shadow: none !important;
    border: thin solid rgba(0, 0, 0, 0.12);

    &:hover {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
    }
  }
}
