.nuxt-content {
  & > *:first-child {
    margin-top: 0 !important;
  }
  & > *:last-child {
    margin-bottom: 0 !important;
  }

  .icon-link::before {
    content: '#';
    display: inline-block;
    margin-right: 6px;
  }

  ol li ul:first-of-type {
    margin-top: 0;
  }

  ul,
  ol {
    padding-left: 30px;
    & li > :first-child {
      margin-top: 0;
    }
  }

  hr {
    border: 0 none;
    border-bottom: 1px solid #ccc;
    height: 4px;
    margin: 15px 0;
    padding: 0;
  }

  blockquote {
    border-left: 4px solid #ddd;
    padding: 0 15px;
    color: #777;
    & > :first-child {
      margin-top: 0;
    }
    & > :last-child {
      margin-bottom: 0;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    font: inherit;
    font-size: 100%;
  }
  table th {
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 6px 13px;
  }
  table td {
    border: 1px solid #ccc;
    padding: 6px 13px;
  }
  table tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
  }
  table tr:nth-child(2n) {
    background-color: #f8f8f8;
  }
}
